label {
  padding-bottom: 2%;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #0946EE;
  border: 0px solid #3787FE;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'MyFont';
  font-weight: bold;
  width: 120px;
}

.buttons button:hover {
  cursor: hand;
  opacity: 0.6;
}

@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
}