@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
  background-color: black;
}

.chart-container {
  font-family: 'MyFont';
  background-color: #000000;
  cursor: crosshair;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  box-shadow: rgba(0, 221, 255, 0.35) 0px -50px 536px -28px inset;
}

/* Change color of x-axis labels (Time) */
.tick text {
  fill: rgb(239, 231, 203); /* Set your desired text color here */
  font-size: xx-small;
  background-color: black;
}