@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
  background-color: black;
}

.chart-container {
  font-family: 'MyFont';
  background: linear-gradient(135deg, #000000, #001f3f); /* Gradient background */
  cursor: crosshair;
  padding-left: 4%;
  padding-right: 4%;
  overflow: hidden;
  box-shadow: rgba(106, 208, 193, 0.35) 0px -50px 536px -28px inset;
}

/* Change color of x-axis labels (Time) */
.tick text {
  fill: rgb(239, 231, 203); /* Set your desired text color here */
  font-size: xx-small;
  background-color: black;
}

.timestamp {
  font-family: 'MyFont'; /* Apply your custom font */
  color: rgb(239, 231, 203); /* Set your desired text color here */
  font-size: xx-small;
  background-color: black;
}