@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
  background-color: black;
}

.chart-container {
  font-family: 'MyFont';
  background: linear-gradient(135deg, #000000, #001f3f); /* Gradient background */
  cursor: crosshair;
  margin: 0% 0% 0% 0%;
  overflow: hidden;
  box-shadow: rgba(106, 208, 193, 0.35) 0px -50px 536px -28px inset;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  padding: 0% 6% 0% 6%;
}

/* Change color of x-axis labels (Time) */
.tick text {
  fill: rgb(239, 231, 203); /* Set your desired text color here */
  font-size: xx-small;
  background-color: black;
  font-family: 'MyFont';
}

.timestamp {
  font-family: 'MyFont'; /* Apply your custom font */
  color: rgb(239, 231, 203); /* Set your desired text color here */
  font-size: xx-small;
  background-color: black;
  font-family: 'MyFont';
}