.total-btc {
    font-size: .9vh;
    padding: 1vh;
    color: black;
    background-color: aqua;
    border-width: 10vh;
    border-radius: 150vh;
    border-color: aqua;
    width: 10vw;
    opacity: .8;
  }
  
  .total-btc:hover {
    cursor: default;
    background-color: aqua;
    opacity: 2;
  }