@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-centered {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2000px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  z-index: 9999;
}

.close {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: crosshair;
  font-size: 40px;
  z-index: 9999;
  font-family: 'MyFont';
  color: white;
}

.full-height-image {
  max-height: 80vh;
  width: auto;
}
