@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
}

h3 {
  padding-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
}

p {
  padding-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
}

.transaction-date {
  border-bottom: 1px solid black;
}
