@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
}

h4.tr {
  padding-left: 2%;
  padding-top: .6%;
  padding-bottom: .5%;
  background: solid black;
  white-space: nowrap;
  font-size: small;
}

p.t {
  padding-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
  background: solid black;
  white-space: nowrap;
  font-size: small;
  font-weight: bold;
}
