@font-face {
  font-family: 'MyFont';
  src: url('Sterilict-L3aen.ttf') format('truetype');
}

body {
  background-color: #000000;
  font-family: 'MyFont';
}

header {
  border-top: 3vh solid transparent;
  border-left: 55px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 1.5% 2% 0% 2%;
  overflow: hidden;
  position: relative;
  height: fit-content;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3787FE;
  font-size: x-large;
  font-weight: lighter;
  position: relative;
  background: #000000;
  border: black;
  height: 100%;
  border-top: 25px solid transparent;
  border-left: 55px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0% 0% 0% 0%;
  padding-bottom: 2vh;
}


footer {
  border-bottom: 25px solid transparent;
  border-left: 95px solid transparent;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 2px 2% 1% 2%;
  position: relative;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
  flex-wrap: nowrap;
  overflow: hidden;
}

h5 {
  position: relative;
  background: #000000;
  border-bottom: 0;
  border-left: 55px solid transparent;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex: content;
  padding: 1% 1% 1% 0%;
  text-align: center;
  height: 100%;
  width: 100%;
}

footer p {
  color: #D45F10;
  margin: 0%;
  font-size: medium;
  font-weight: bold;
  font-family: 'MyFont';
  flex-basis: calc(25% - 1px);
}

.right {
  width:fit-content;
  white-space: nowrap;
  margin-left: 3vw;
  margin-right: 1vw;
  padding-right: 8vw;
  overflow: flex;
}

.prefooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: hidden;
  padding-top: 0vh;
  animation: scrollZ 10s linear infinite;
}

@keyframes scrollZ {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.prefooter ul li {
  margin-right: 10px;
  flex-shrink: 0;
  padding-top: 0;
}

.prefooter .content-container {
  overflow: hidden;
  padding-top: 0;
  width: fit-content;
  text-align: center;
}

.prefooter ul {
  white-space: nowrap;
}

.prefooter {
  border-left: 95px solid transparent;
  height: 2vh;
  margin-left: 2%;
  margin-right: 8%;
  margin-top: 2px;
  color: aqua;
  font-size: 1vh;
  background: linear-gradient(to right, rgba(55, 135, 254, 0.7) 0%, rgba(55, 135, 254, 1) 50%, rgba(55, 135, 254, 0.7) 100%);;
}

.inside-footer {
  padding-left: 72%;
  height: 100%;
  width: 100;
  background-color: black;
  display: flex;
  justify-content: end;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

.moreprefooter {
  border-left: 95px solid transparent;
  height: .5vh;
  margin-left: 2%;
  margin-right: 8%;
  margin-top: 2px;
  color: aqua;
  font-size: .5vh;
  background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
}

.mostprefooter {
  border-left: 95px solid transparent;
  height: 3vh;
  margin-left: 2%;
  margin-right: 8%;
  margin-top: .5%;
  color: aqua;
  font-size: 1vh;
  background: linear-gradient(to right, rgba(9, 70, 238, 0.7) 0%, rgba(9, 70, 238, 1) 50%, rgba(9, 70, 238, 0.7) 100%);
}

.moreprefooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: hidden;
  padding-top: 0vh;
  animation: scrollRight 8s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moreprefooter ul li {
  margin-right: 10px;
  flex-shrink: 0;
  padding-top: 0;
}

.moreprefooter .content-container {
  overflow: hidden;
  padding-top: 0;
  width: fit-content;
}

.moreprefooter ul {
  white-space: nowrap;
}

.mostprefooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: hidden;
  padding-top: 1vh;
  animation: scrollLeft 15s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mostprefooter ul li {
  margin-right: 10px;
  flex-shrink: 0;
}

.mostprefooter .content-container {
  overflow: hidden;
  width: fit-content;
}

.mostprefooter ul {
  white-space: nowrap;
}

.button-holder {
  background-color: #000000;
  border-radius: 25px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-left-width: 55px;
  border-right-width: 0px;
  padding-top: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  overflow: flex;
  flex: content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-holder-holder {
  margin-top: 5px;
  background: linear-gradient(to right, rgba(0, 255, 255, 0.7) 0%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 255, 0.7) 100%);
  border: 20px solid transparent;
  border-radius: 25px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-left-width: 55px;
  border-right-width: 0px;
  border-top-width: 0px;
  height: 70px;
  width: 45%;
  overflow: flex;
  margin-left: 2%;
  margin-right: 2px;
  flex: content;
  justify-content: space-between;
  align-items: start;
  position: relative;
  flex-basis: calc(33.33% - 1px);
}

.button-next {
  margin-top: 5px;
  background: linear-gradient(to right, rgba(9, 70, 238, 0.7) 0%, rgba(9, 70, 238, 1) 50%, rgba(9, 70, 238, 0.7) 100%);
  border: 20px solid transparent;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  height: 70px;
  width: 10%;
  overflow: flex;
  margin-right: 2px;
}

.insidebutton-next {
  height: 100%;
  width: 100%;
  background-color: black;
}

.button-nextest {
  margin-top: 5px;
  background: linear-gradient(to right, rgba(55, 135, 254, 0.7) 0%, rgba(55, 135, 254, 1) 50%, rgba(55, 135, 254, 0.7) 100%);
  border: 20px solid transparent;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  height: 70px;
  width: 8%;
  overflow: flex;
  margin-right: 2px;
}

.insidebutton-nextest {
  height: 100%;
  width: 100%;
  background-color: black;
}

.button-nextestly {
  margin-top: 5px;
  border: 20px solid transparent;
  background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  height: 70px;
  width: 1%;
  overflow: flex;
  margin-right: 2px;
}

.insidebutton-nextestly {
  height: 100%;
  width: 100%;
  background-color: black;
}

.button-nextiest {
  margin-top: 5px;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
  border: 20px solid transparent;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  height: 70px;
  width: 40%;
  overflow: flex;
  column-count: 4;
  margin-right: 2%;
  cursor: hand;
  position: relative;
  font-family: 'MyFont';
}

.insidebutton-nextiest {
  height: 70px;
  width: 100%;
  background: solid black;
  position: sticky;
  position: relative;
}

.button-nextiest p {
  background-color: black;
  text-decoration: none;
  cursor: hand;
  font-weight: lighter;
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin-left: 0;
  margin-top: 0;
  width: 115%;
  padding: 2%;
}

.button-nextiest p a {
  background: black;
  color: aqua;
  text-decoration: none;
  cursor: default;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 100%;
  height: 22.4px;
  flex-basis: calc(33.33% - 10px);
}

.button-nextiest p div {
  height: 22.4px;
}

.button-nextiest p a:hover {
  color: aqua;
  text-decoration: none;
  cursor: default;
  opacity: 0.6;
}

.balance-card {
  position: relative;
  background: linear-gradient(to right, rgba(55, 135, 254, 0.7) 0%, rgba(55, 135, 254, 1) 50%, rgba(55, 135, 254, 0.7) 100%);
  width: 35%;
  height: 3em;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}

.balance-card::before {
  content: "";
  background-color: #000000;
  border-color: #000000;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 5px;
}

.balance-card h2 {
  font-size: 1.2em;
}

.balance-card p {
  font-size: 1.2em;
  font-family: 'MyFont';
  background-color: black;
  border-color: #000000;
  color: rgb(139, 139, 139);
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0% 3% 0% 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9em;
}

.balance-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  padding-left: 1em;
}

.row {
  margin-top: 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-item {
  background-color: #000000;
  border: 10px solid black transparent;
  border-radius: 25px;
  border-left-width: 45px;
  border-right-width: 45px;
  height: 25%;
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
  position: relative;
}

.row-itemer {
background: black;
margin: 2% 7% 2% 7%;
height: 290px;
border-radius: 25px;
padding: 1%;
overflow: hidden;
white-space: nowrap;
flex-basis: calc(33.33% - 10px);
position: relative;
}

.row-item h4 {
  background: linear-gradient(to right, rgba(9, 70, 238, 0.7) 0%, rgba(9, 70, 238, 1) 50%, rgba(9, 70, 238, 0.7) 100%);
  border-radius: 20px;
  padding-left: 3%;
  border: 3px solid #000000;
  margin-left: 10px;
  margin-right: 10px;
}

.row-item p {
  padding-left: 3%;
  background: linear-gradient(to right, rgba(212, 95, 16, 0.7) 0%, rgba(212, 95, 16, 1) 50%, rgba(212, 95, 16, 0.7) 100%);
  border-radius: 20px;
  border: 3px solid #000000;
  margin-left: 10px;
  margin-right: 10px;
}

.transaction .transaction-amount {
  padding-top: 1%;
}

.transaction-amount {
  border-bottom: 1px solid black;
}

.row-itemz {
  background-color: #000000;
  border: 10px solid transparent;
  border-radius: 25px;
  border-left-width: 40px;
  border-right-width: 40px;
  height: 25%;
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 2) 50%, rgba(206, 151, 18, 0.7) 100%);
}

@media (max-width: 876px) {
  .row-item {
    width: 100%;
  }

  .balance-card {
    width: 100%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media (max-width: 615px) {
  .row {
    flex-direction: column;
  }

  .row-item {
    margin-top: 1%;
  }

  .balance-card {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
  }
}

.yessir {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 25px solid transparent;
  border-left: 95px solid transparent;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  position: fixed;
  bottom: 10;
  left: 0;
  right: 0;
  margin: 2px 2% 1.5% 2%;
  position: relative;
  background: linear-gradient(to right, rgba(206, 151, 18, 0.7) 0%, rgba(206, 151, 18, 1) 50%, rgba(206, 151, 18, 0.7) 100%);
}

h3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #000000;
  border: black;
  height: 3vh;
  width: 100%;
  padding-top: 0%;
  border-top: 25px solid transparent;
  border-left: 55px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0% 0% 0% 0%;
  color: rgba(212, 95, 16, 1);
}